/* Custom, iPhone Retina */

@media only screen and (min-width: 0px) {
    .navbar-brand {
        float: none;
        text-align: center;
        display: block;
    }

    header {
        position: relative;
        display: block;
        margin-bottom: 10px;
        z-index: 3;
        width: 100%;
        height: 40px;
        color:white;
        background: $header-background-color;
        border-bottom: 1px solid $header-border-color;
    }

    .logo {
        text-decoration: none;
        font-weight: bold;
        line-height: 45px;
        padding: 0 20px;
        color: #fff;
        float: left;
    }

    footer {
        background: $footer-background-color;
        border-top: 1px solid $footer-border-color;
    }

    nav * {
        color: $header-text-color;
        font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    }
    
    .footer * {
        color: $header-text-color;
        font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    }

    .footer {
        margin: none;
        vertical-align: middle;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .footer-menu ul {
        width: 100%;
        max-width: 500px;
        margin: auto;
        margin-bottom: 5px;
    }
    .footer-menu ul:after {
      clear: both;
      content: "";
      display: block;
    }
    .footer-menu ul li {
      width: 20%;
      font-size: 14px;
      float: left;
      padding-top: 10px;
          list-style: none;
    }

    .footer-menu ul li a {
      text-decoration: none !important;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {

}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    
}