/* Custom, iPhone Retina */

@media only screen and (min-width: 0px) {
    html {
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
        min-height: 100%;
    }
    body {
        background: #e9ebee !important;
        margin: 0 0 100px;
    }
    
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {

}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    
}