/* Custom, iPhone Retina */

@media only screen and (min-width: 0px) {
    .promotion-overlay-container {
        position: absolute;
        opacity: 0;
        top: 0px;
        z-index: 1000;
        display: none;
        margin: auto;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 360px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
        height: 600px;
        background: #fff;
    }
    .promotion-fb {
        margin-top: 10px;
    }
    .promotion-overlay {
        margin: auto;
        text-align: center;
    }
    .promotion-overlay-title {
        background: #f6f7f9;
        font-size: 17px;
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
        font-weight: bold;
    }
    .post-container {
        display: inline-block;
        margin: auto;
    }
    .app-post {
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        width: 100%;
        border-top: 2px solid #e5e6e9;
        border-bottom: 2px solid #e5e6e9;
        background: #fff;
        padding: 2px 5px;
        display: inline-block;
        position: relative !important;
        margin: 10px auto;
        text-align: center;
        min-height: 265px;
        float: left;
    }
    .app-post:hover {
        text-decoration: none;
    }
    .app-post a {
        display: inline-block;
    }
    .app-post .post-icon {
        float: left;
        width: 35px;
        height: 35px;
        border: 1px solid rgba(115, 138, 186, 0.3);
        margin-left: 5px;
        margin-top: 5px;
    }
    .app-post .app-title {
        display: inline-block;
        font-size: 14px;
        float: left;
        margin: 12px 0px 0px 5px;
    }
    .app-post .app-desc {
        text-align: justify;
        padding: 0 10px 10px 10px;
        text-indent: 10px;
        font-size: 13px;
    }
    .app-post img.preview-pic {
        width: 100%;
        margin: 10px 0;
        border-bottom: 1px solid rgba(115, 138, 186, 0.3);
        border-top: 1px solid rgba(115, 138, 186, 0.3);
    }
    .app-post p {
        vertical-align: top;
        margin-left: 10px;
        font-weight: normal;
        font-size: 12px;
        align-content: stretch;
        justify-content: space-around;
        text-align: justify;
        color: black;
    }
    .single-page {
        float: none;
        margin: auto !important;
        display: block;
    }
    .single-page .app-title {
        display: block;
        margin: auto;
        margin: 0 auto 5px;
        font-size: 17px;
        font-weight: bold;
        float: none;
        clear: both;
    }
    .single-page #gen-img-container {
        width: 100%;
        margin: 10px auto 0px;
        position: relative;
        overflow-x: hidden;
    }
    .single-page #gen_img {
        width: 100%;
    }
    .container {
        position: relative !important;
        display: block !important;
    }
    .inner_page {
        margin: auto;
        padding: 25px;
        width: 80%;
        min-width: 320px;
        max-width: 720px;
        text-indent: 30px;
        background: white;
        border-radius: 5px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .post-container {
        width: 365px;
        display: block;
        margin: auto;
    }
    .app-post {
        max-width: 350px;
        margin-left: 10px;
    }
    .single-page {
        max-width: 450px !important;
        padding: 5px 15px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .single-page {
        max-width: 550px !important;
    }
    .post-container {
        width: 735px;
        display: block;
        margin: auto;
    }
    .app-post {
        max-width: 350px;
        margin-left: 10px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 1080px) {
    .post-container {
        width: 1080px;
        margin: auto;
    }
    .app-post {
        max-width: 350px;
        margin-left: 10px;
    }
}