/* Custom, iPhone Retina */

@media only screen and (min-width: 0px) {
    h1, h2, h3, h4, h5, h6 {
        color: #337ab7;
    }
    .inner_page h1, .inner_page h2, .inner_page h3, .inner_page h4, .inner_page h5, .inner_page h6 {
        text-indent: 0;
        margin: 10px auto;
        font-weight: bold;
    }
    .inner_page p {
        font-size: 14px;
        line-height: 25px;
        text-align: justify;
    }
    body {
        width: 100%;
        overflow: hidden;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        color: #37302a;
        background: #fff;
        font: normal 100%/1.4 sans-serif;
    }
    h1 {
        margin-bottom: .5em;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}