// Header and Footer Variables

$header-background-color: #3b5998;
$header-border-color: #29487d;
$header-text-color: #fff;

$footer-background-color: #3b5998;
$footer-border-color: #29487d;
$header-text-color: #fff;